.idea/*
/*.log
*.komodoproject
scss/.sass-cache/*
/gitflow/*
/tmp/*
/local-config.php
node_modules/

/wp-content/uploads/*
/wp-content/themes/amedical/bower_components
/wp-content/themes/amedical/node_modules

wp-content/themes/amedical/.idea/
dist/ui/components/*
dist/ui/themes/*