doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet", type='text/css', href='ui/semantic.css')
        // Pagaidu font fix
        | <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/icon.min.css'>
        block head-content

        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    body
        include blocks/header.pug

        block content

        include blocks/footer.pug

        script(src="/ui/semantic.min.js")
        script(src="/js/jquery.bxslider.min.js")

        script(src="/js/main.js")

