section.home-news
    div.ui.container
        h2.ui.centered.header.centered.decored Jaunumi / Blogs
        div.ui.grid
            div.sixteen.wide.mobile.eight.wide.computer.column
                div.image-container
                    img(src="img/news1.jpg")
                    time
                        span 24
                        |  Okt
                h3.ui.header
                    a(href="#") A.Medical kļūst par oficiālo “Toshiba Medical systems corporation” pārstāvi Latvijā.
                p Kļūstot par oficiālo pārstāvi Latvijā, “A.Medical” nodrošinās slimnīcas un veselības aprūpes iestādes ar augstas kvalitātes medicīnas
                    | iekārtām radioloģijas jomā. Esam patiesi lepni par sadarbību, kas mums sniedz iespēju…
                    a(href="#") Lasīt vairāk
                        i.long.right.arrow.icon
            div.sixteen.wide.mobile.eight.wide.computer.column
                div.image-container
                    img(src="img/news2.jpg")
                    time
                        span 09
                        |  Okt
                h3.ui.header
                    a(href="#") A.Medical piedalījusies Mobilā diagnostikas kompleksa izveidē
                p Kļūstot par oficiālo pārstāvi Latvijā, “A.Medical” nodrošinās slimnīcas un veselības aprūpes iestādes ar augstas kvalitātes medicīnas iekārtām
                    | radioloģijas jomā. Esam patiesi lepni par sadarbību, kas mums sniedz iespēju…
                    a(href="#") Lasīt vairāk
                        i.long.right.arrow.icon
        div.aligned.center.view-all.visibility-hidden
            a.ui.primary.button Apskatīt visus rakstus
                i.long.right.arrow.icon