section.represent.ui.container.very.padded
    h2.ui.centered.header.centered.decored Mēs pārstāvam
    div.ui.six.column.center.aligned.grid
        ul.represent-slider
            li
                img(src="img/represent/1.png")
            li
                img(src="img/represent/2.png")
            li
                img(src="img/represent/3.png")
            li
                img(src="img/represent/4.png")
            li
                img(src="img/represent/5.png")
            li
                img(src="img/represent/6.png")
            li
                img(src="http://placehold.it/150x68&text=7")
            li
                img(src="http://placehold.it/150x68&text=8")
            li
                img(src="http://placehold.it/150x68&text=9")
            li
                img(src="http://placehold.it/150x68&text=10")

        div.center.aligned.row
            a.ui.primary.button Apskatīt visus ražotājus
                i.long.arrow.right.icon