section.represent.ui.container
    h2.ui.header.centered.decored Mēs pārstāvam
    div.ui.six.column.center.aligned.grid
        ul.represent-slider
            li
                img(src="img/represent/1.png")
            li
                img(src="img/represent/2.png")
            li
                img(src="img/represent/3.png")
            li
                img(src="img/represent/4.png")
            li
                img(src="img/represent/5.png")
            li
                img(src="img/represent/6.png")


        div.center.aligned.row
            a.ui.primary.button Apskatīt visus ražotājus
                i.long.arrow.right.icon