section.represent.ui.container
    h2.ui.centered.header Mēs pārstāvam
    div.ui.six.column.center.aligned.grid
        div.column
            img(src="img/represent/1.png")
        div.column
            img(src="img/represent/2.png")
        div.column
            img(src="img/represent/3.png")
        div.column
            img(src="img/represent/4.png")
        div.column
            img(src="img/represent/5.png")
        div.column
            img(src="img/represent/6.png")
        div.center.aligned.row
            a.ui.primary.button Apskatīt visus ražotājus
                i.long.arrow.right.icon