section.slider
    ul.main-slider
        li(style="background-image: url(img/slides/slide-1.jpg);")
            div.content
                h1  Augstākās kvalitātes medicīnas preces un iekārtas no pasaulē atzītiem ražotājiem
                a.ui.primary.button Apskatīt katalogu
                    i.long.arrow.right.icon
        li(style="background-image: url(img/slides/slide-2.jpg);")
            div.content
                h2  Augstākās kvalitātes medicīnas preces un iekārtas no pasaulē atzītiem ražotājiem
                a.ui.primary.button Apskatīt katalogu
                    i.long.arrow.right.icon
        li(style="background-image: url(http://placehold.it/1440x650);")
            div.content
