section.subscribe
    div.ui.container
        form.ui.form
            div.ui.centered.relaxed.grid
                    div.title Pieteikties Jaunumiem
                    input(placeholder="Ievadi savu e-pastu").subscribe.ui.input
                    button().ui.primary.button Pieteikties

