<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin disabled="false" name="amedical_theme_plugin_quote_BillingAddressManagement" sortOrder="1" type="Amedical\Theme\Plugin\Quote\BillingAddressManagement"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin disabled="false" name="amedical_theme_plugin_quote_ShippingAddressManagement" sortOrder="1" type="Amedical\Theme\Plugin\Quote\ShippingAddressManagement"/>
    </type>
    <type name="Magento\Customer\Model\Address">
        <plugin disabled="false" name="amedical_theme_plugin_quote_customer_address_update" sortOrder="1" type="Amedical\Theme\Plugin\Quote\AddressUpdate"/>
    </type>
    <preference for="Magento\Customer\Model\Data\Address" type="Amedical\Theme\Model\Customer\Data\Address"/>
    <preference for="Amedical\Theme\Api\GuestPaymentInformationManagementInterface" type="Amedical\Theme\Model\Checkout\GuestPaymentInformationManagement" />

    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Amedical\Theme\Block\Product\ProductList\Toolbar" />
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Amedical\Theme\Block\Product\ListProduct" />
</config>