<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="currency_display_options_forming">
        <observer name="amedical_theme_currency_display_options" instance="Amedical\Theme\Observer\CurrencyDisplayOptions" />
    </event>
    <event name="customer_register_success">
        <observer name="amedical_theme_customer_set_group" instance="Amedical\Theme\Observer\Customer\CustomerSetGroup" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="amedical_theme_save_additional_fields" instance="Amedical\Theme\Observer\Checkout\SaveAdditionalFields" />
    </event>
</config>