<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="popularity" frontName="popularity-by-views">
            <module name="DS_PopularityByViews" />
        </route>
    </router>
</config>