extends layouts/home.pug

block content
    main.contacts
        div.ui.container.vertically.divided.grid
            div.five.wide.column
                div.ui.breadcrumb
                    a(href="index.html").section Sākums
                    div.divider //
                    div.active.section Kontakti

                h1 Kontakti
                p Adrese: Varkaļu iela 13A, Rīga, Latvija, LV-1067
                p Tālrunis: 66103003, 20277153
                p Fakss: 66103010
                p E-pasts: info@amedical.eu
                p Darba laiks: 8:30 - 17:30
                div.ui.divider
                h1 Rekvizīti
                p SIA "A.Medical"
                    | PVN reģ. Nr. LV 40103599415
                    | Varkaļu iela 13A, Rīga, Latvija, LV-1067

                p A/S „Swedbank”
                    | Konts: LV25HABA0551034365891
                    | Kods: HABALV22

        div.info
        div.map.contact-map(data-lat="56.940" data-lng="24.070")

    section.contact-form
        div.ui.container.grid
            div.two.column.row
                div.column
                    h2.left.ui.header.decored Sazinies ar mums
                    form.ui.form
                        div.eight.wide.field
                            label Vārds un uzvārds
                            input(type="text")
                        div.eight.wide.field
                            label Uzņēmums
                            input(type="text")
                        div.eight.wide.field
                            label E-pasts
                            input(type="text")
                        div.eight.wide.field
                            label Tālrunis
                            input(type="text")
                        div.fourteen.wide.field
                            label Jūsu ziņa
                            textarea
                        button(type="submit").ui.huge.primary.button Nosūtīt

                div.column
                    img(src="/img/contact-us.jpg").ui.shadowed.image


    include sections/subscribe

block footer-content
    script(src="https://maps.google.com/maps/api/js?key=AIzaSyBKeYvaMBcJDXj6f8O4N02ZWjSfHdWM2-Q")
    script(src="/js/gmaps.js")
    script.
        $(function() {
        map = new GMaps({
                div: '.contact-map',
                lat: $('.contact-map').data('lat'), //56.940,
                lng: $('.contact-map').data('lng'), //24.070,
                // zoom: 12,
                scrollwheel: true,
                disableDefaultUI: true,
                styles: [
                    {
                        stylers: [
                            {saturation: -75}
                        ]
                    },
                    {
                        featureType: "buildings",
                        elementType: "geometry",
                        stylers: [
                            {visibility: "simplified"}
                        ]
                    }, {
                        featureType: "road",
                        elementType: "geometry",
                        stylers: [
                            {visibility: "simplified"}
                        ]
                    }, {
                        featureType: "road",
                        elementType: "labels",
                        stylers: [
                            {visibility: "simplified"}
                        ]
                    }
                ]
            });
            map.addMarker({
                lat: 56.940,
                lng: 24.070,
                icon: '/img/marker.png',
            });
        })
