doctype html
html(lang="en")
    head
        title= pageTitle

        // @todo -- add destination path of dist
        link(rel="stylesheet", type='text/css', href='@todo.min.css')
        script(src="@todo.min.js")

    body
        .ui.grid
            .column
                h1 ds ui: amedical