extends layouts/home.pug

block head-content
    link(rel="stylesheet", type='text/css', href='css/jquery.bxslider.css')
block content

    include sections/slider

    section.services
        div.ui.container
            div.ui.three.columns.grid
                div.sixteen.wide.mobile.five.wide.computer.column
                    h3.ui.header Projektēšana
                    p A.Medical attīsta darbību medicīnas iestāžu telpu projektēšanas, funkcionālās plānošanas un rekonstrukcijas nozarēs,
                        | piedāvājot mūsdienu prasībām atbilstošus tehnoloģiskos risinājumus.
                    a.ui.basic.button Uzzināt vairāk
                        i.long.arrow.right.icon
                div.sixteen.wide.mobile.five.wide.computer.column
                    h3.ui.header Industriālo un drošības risinājumu katalogs
                    p A.Medical tirdzniecības nodaļa, piedāvā klientam veiksmīgāko un mūsdienīgāko aprīkojumu, kā arī nepieciešamās konsultācijas.
                    a.ui.basic.button Apskatīt katalogu
                        i.long.arrow.right.icon
                div.sixteen.wide.mobile.five.wide.computer.column
                    h3.ui.header Serviss
                    p A.MEDICAL SERVISS komandu veido sertificēti un pieredzes bagāti servisa inženieri, kas nodrošina medicīnas iekārtu,
                        | kā arī industriālo un drošības risinājumu servisa centra funkcijas.
                    a.ui.basic.button Uzzināt vairāk
                        i.long.arrow.right.icon

    section.benefits.ui.container
        div.ui.relaxed.grid
            div.sixteen.wide.column
                h2.ui.header Vadošais veselības aprūpes iestāžu partneris Latvijā
                p.content A.Medical komanda sastāv no nozares profesionāļiem, kuriem ir daudzu gadu pieredze medicīnas iekārtu tirdzniecības un
                    | servisa nozarēs. Pēdējo 20 gadu laikā mūsu komanda kopā ar Latvijas vadošajām medicīnas iestādēm realizējusi projektus vairāku miljonu eiro apjomā.
            div.ui.stretched.row
                div.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column
                    div.ui.raised.segment
                        div.benefits-icon.icon-b1
                        strong 25+
                        p Lepojamies ar mūsu darbinieku 25+ gadu pieredzi nozarē
                div.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column
                    div.ui.raised.segment
                        div.benefits-icon.icon-b2
                        strong 60+
                        p Pārstāvam vairāk kā 60 ražotājus no visas pasaules
                div.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column
                    div.ui.raised.segment
                        div.benefits-icon.icon-b3
                        strong 1500+
                        p Vairāk kā 1500 preču veidi uz vietas mūsu noliktavā
                div.sixteen.wide.mobile.eight.wide.tablet.four.wide.computer.column
                    div.ui.raised.segment
                        div.benefits-icon.icon-b4
                        strong 1000+
                        p Mūsu serviss apkalpo vairāk kā 1000 iekārtas pastāvīgā apkalpošanā



    include sections/represent

    include sections/news

    include sections/subscribe