// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */



& when (@media-common = true) {
    .lib-font-face(
        @family-name: @icons__font-name,
        @font-path: @icons__font-path,
        @font-weight: normal,
        @font-style: normal
    );

    .icon-place {
        .lib-icon-font(
        @_icon-font: @icon-font-second,
        @_icon-font-content: @icon-place,
        @_icon-font-color: @footer-icon-font_color,
        @_icon-font-size: 16px,
        @_icon-font-position: before
        );

        &:before {
            overflow: visible;
            margin-right: 10px;
            width: 12px
        }
    }

    .icon-phone {
        .lib-icon-font(
        @_icon-font: @icon-font-second,
        @_icon-font-content: @icon-phone,
        @_icon-font-color: @footer-icon-font_color,
        @_icon-font-size: 16px,
        @_icon-font-position: before
        );

        &:before {
            overflow: visible;
            margin-right: 10px;
            width: 12px
        }
    }

    .icon-envelope {
        .lib-icon-font(
        @_icon-font: @icon-font-second,
        @_icon-font-content: @icon-envelope,
        @_icon-font-color: @footer-icon-font_color,
        @_icon-font-size: 12px,
        @_icon-font-position: before
        );

        &:before {
            overflow: visible;
            margin-right: 10px;
            width: 12px
        }
    }

    .icon-facebook{
        .lib-icon-font(
            @_icon-font: @icon-font-second,
            @_icon-font-content: @icon-facebook,
            @_icon-font-color: @footer-icon-font-social_color,
            @_icon-font-color-hover: @amedical-brand-color,
            @_icon-font-size: 30px,
            @_icon-font-position: before
        );

        &:before {
            overflow: visible;
        }
    }

    .icon-linkedin{
        .lib-icon-font(
            @_icon-font: @icon-font-second,
            @_icon-font-content: @icon-linkedin,
            @_icon-font-color: @footer-icon-font-social_color,
            @_icon-font-color-hover: @amedical-brand-color,
            @_icon-font-size: 30px,
            @_icon-font-position: before
        );

        &:before {
            overflow: visible;
        }
    }
}
