// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .pages {
        .lib-pager();

        .action {
            padding: 0 8px;

            &:hover {
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            }

            &.next,
            &.previous {
                &:before {
                    overflow: visible;
                }
            }
        }

        & &-item {
            &-next {
                margin-right: 0;
                margin-left: -20px;
            }

            &-previous {
                margin-right: -20px;
                margin-left: 0;
            }
        }

        & &-items {
            display: block;
            padding: 2px 40px 0;
            position: relative;
            white-space: normal;
            z-index: 1;

            .item:first-child,
            & .pages-item-next,
            & .pages-item-previous + .item,
            & .pages-item-previous {
                .page:before {
                    content: none;
                }
            }

        }

        .page {
            position: relative;
            width: 20px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -41px;
                top: 50%;
                width: 30px;
                border-top: 1px solid @pager__background;
            }
        }
    }


}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .pages {
        .action {
            &.next,
            &.previous {
                &:before {
                    font-size: 40px;
                }
            }
        }
    }
}
