// /**
//  * Copyright © 2013-2017 Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Amedical Base theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

@icon-font-main: 'Icon';
@icon-font-second: 'icomoon';
@indent-side__xs: 25px;
@title_top_label-width__l: 98px;
@title_top_label-width__m: 98px;
@title_top_label-width: 78px;
//  Fonts
@font-family-name__base: 'Lato';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

//  Colors nesting

@amedical-brand-color: #ff6b01;
@amedical-text_color: #636463;
@amedical-top-link-text_color: #8f8f8f;
@footer-icon-font_color: #909090;
@footer-icon-font-social_color: #d8d8d8;
@icon-search__color: @amedical-text_color;
@footer-border_color: #909090;


@header-panel_border-color: rgba(216, 216, 216, 0.658824);

@page__background-color: @color-white;
@copyright__background-color: @color-gray56;

//
//  Icons
//  ---------------------------------------------

@icon-home: "\e90e";
@icon-menu-close: '\e912';
@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-place: '\e915';
@icon-phone: '\e914';
@icon-eye: '\e91f';
@icon-chevron-left: '\e90f';
@icon-chevron-right: '\e916';

@icon-chevron-left-large: '\e902';
@icon-chevron-right-large: '\e901';
@icon-plus: "\e903";
@icon-minus: "\e900";
@icon-check-thin: "\e90b";
@icon-facebook: "\e90c";
@icon-linkedin: "\e910";

@icon-calendar__font-size: 23px;
@icon-font-color: @amedical-text_color;
@social-icon_height: 26px;
@social-icon_width: 26px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Header
//  ---------------------------------------------

@header-panel_height: 73px;
@header-panel-tablet_height: 130px;
@header-panel_padding-bottom: 15px;
@header-panel_padding-top: 15px;
@header-panel-mobile_shadow: 0 1px 5px rgba(27,47,78,.1);;

@footer-contacts-item_margin_bottom: 15px;
