
<section class="services" id="home-services">
    <div class="ui container">
        <div class="ui three columns grid">
            <div class="sixteen wide mobile sixteen wide tablet five wide computer column">
                <h3 class="ui header">Designing</h3>
                <p>A.Medical develops activity in designing of premises, functional planning and reconstruction of medical institutions offering technological solutions that correspond to the modern requirements.
                </p>
                <a class="ui basic button" href="http://www.amedical.eu/en/designing/">
                    Learn more                                <i class="long arrow right icon"></i>
                </a>

            </div>


            <div class="sixteen wide mobile sixteen wide tablet five wide computer column">
                <h3 class="ui header">Industrial and safety solutions catalog</h3>
                <p>A. Medical offers wide range of industry and safety products such as alcohol and drug screening devices, gas detection devices, personal protection equipment.
                </p>
                <a class="ui basic button" href="http://www.amedical.eu/en/industrialie-un-drosibas-risinajumi/alcohol-and-drug-screening-devices">
                    See catalog                                <i class="long arrow right icon"></i>
                </a>

            </div>


            <div class="sixteen wide mobile sixteen wide tablet five wide computer column">
                <h3 class="ui header">Equipment service</h3>
                <p>A.Medical service team consists of certified and experienced service engineers who provide service for medical equipment, industrial and safety products.
                </p>
                <a class="ui basic button" href="http://www.amedical.eu/en/service/">
                    Learn more                                <i class="long arrow right icon"></i>
                </a>

            </div>


        </div>
    </div>
</section>

<section class="benefits ui container" id="home-benefits">
    <div class="ui grid">
        <div class="sixteen wide column">
            <h2 class="ui header centered decored">Leading partner of healthcare institutions in Latvia</h2>
            <p class="content">
                A.MEDICAL team gathers highly skilled and experienced specialists in medical technology field. During last several years we have realized significant projects in the leading medical organizations. With the expansion of our competence we started cooperation with leading manufacturers of personal safety and industrial solutions in order to bring to our customers professional solutions in safety area.
            </p>
        </div>
        <div class="ui stretched row">
            <div class="sixteen wide centered mobile eight wide tablet four wide computer column">
                <div class="ui raised segment">
                    <div class="benefits-icon icon-b1"></div><strong>25+</strong>
                    <p></p><p>We are proud of our staff's 25+ years of experience in the industry</p>
                    <p></p>
                </div>
            </div>
            <div class="sixteen wide centered mobile eight wide tablet four wide computer column">
                <div class="ui raised segment">
                    <div class="benefits-icon icon-b2"></div><strong>60+</strong>
                    <p></p><p>We represent more than 60 manufacturers all over the world</p>
                    <p></p>
                </div>
            </div>
            <div class="sixteen wide centered mobile eight wide tablet four wide computer column">
                <div class="ui raised segment">
                    <div class="benefits-icon icon-b3"></div><strong>1500+</strong>
                    <p></p><p>More than 1500 types of goods on site at our warehouse</p>
                    <p></p>
                </div>
            </div>
            <div class="sixteen wide centered mobile eight wide tablet four wide computer column">
                <div class="ui raised segment">
                    <div class="benefits-icon icon-b4"></div><strong>1000+</strong>
                    <p></p><p>More than 1000 installations permanently serviced</p>
                    <p></p>
                </div>
            </div>

        </div>
    </div>
</section>




<section class="represent ui container very padded">
    <h2 class="ui centered header centered decored">
        We represent    </h2>
    <div class="ui six column center aligned grid">
        <div class="bx-wrapper" style="max-width: 900px; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 68px;"><ul class="represent-slider" style="width: 815%; position: relative; transition-duration: 0.5s; transform: translate3d(-1640px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
            <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Dornier-logo_small.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="dornier-logo_small">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
            <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Elekta-300x110-1.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="elekta-300x110">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
            <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/BTL-300x140-3.jpg" class="attachment-brand-logo size-brand-logo wp-post-image" alt="btl-300x140">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
            <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/toshiba-300x117-1.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="toshiba-300x117">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
            <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Draeger-300x117.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="draeger-300x117">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
            <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/09/3.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="3">                            </li>

            <li style="float: left; list-style: none; position: relative; width: 150px;">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Dornier-logo_small.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="dornier-logo_small">                            </li>
            <li style="float: left; list-style: none; position: relative; width: 150px;">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Elekta-300x110-1.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="elekta-300x110">                            </li>
            <li style="float: left; list-style: none; position: relative; width: 150px;">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/BTL-300x140-3.jpg" class="attachment-brand-logo size-brand-logo wp-post-image" alt="btl-300x140">                            </li>
            <li style="float: left; list-style: none; position: relative; width: 150px;">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/toshiba-300x117-1.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="toshiba-300x117">                            </li>
            <li style="float: left; list-style: none; position: relative; width: 150px;">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Draeger-300x117.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="draeger-300x117">                            </li>
            <li style="float: left; list-style: none; position: relative; width: 150px;">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/09/3.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="3">                            </li>
            <li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Dornier-logo_small.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="dornier-logo_small">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Elekta-300x110-1.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="elekta-300x110">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/BTL-300x140-3.jpg" class="attachment-brand-logo size-brand-logo wp-post-image" alt="btl-300x140">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/toshiba-300x117-1.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="toshiba-300x117">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/12/Draeger-300x117.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="draeger-300x117">                            </li><li style="float: left; list-style: none; position: relative; width: 150px;" class="bx-clone">
                <img width="150" height="68" src="http://amedical.eu/wp-content/uploads/2016/09/3.png" class="attachment-brand-logo size-brand-logo wp-post-image" alt="3">                            </li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div></div>
        <!--        <div class="center aligned row">-->
        <!--            <a id="we-represent-button" class="ui primary button" href="--><!--">--><!--                <i class="long arrow right icon"></i>-->
        <!--            </a>-->
        <!--        </div>-->
    </div>
</section>