/* Custom CSS */


footer .ui.text.menu div {
  height:195px;
}

.main-slider li .content {
  width: 1200px;
  margin: 0 auto;
}

header .basket .item {
  margin-top: -4px !important;
}

.map-info{
  color: #636463;
}
.map-info a{
  color: #e5702a;
}

footer > .ui.grid {
  display: block;
}

.service .benefits-icon {
  color: #ff6b01;
  margin-top: 32px;
  font-size: 48px;
}

@media (min-width: 1200px) {
  .about-us {
    margin-bottom: 85px !important;
  }

  .about-us .ui.header ~ p {
    margin-right: -2rem;
    padding-bottom: 8px;
  }
}

.ui.form .mc4wp-response > .mc4wp-alert {
  font-weight: bold;
  margin-top: -85px;
  color: #636463;
  background: white;
  padding: 10px;
  box-shadow: 0 6px 10px rgba(64, 64, 64, 0.15);
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
  .ui.form .mc4wp-response > .mc4wp-alert {
    margin-top: -30px;
  }
}

@media (min-width: 1024px) {
  .ui.secondary.menu .dropdown.item > .menu, .ui.text.menu .dropdown.item > .menu {
    transition: visibility 0.3s linear;
    transition-delay: 500ms;
    display: block;
    visibility: hidden;
  }

  .ui.menu .ui.dropdown .menu > .item {
    margin: 10px;
  }

  header .desktop .ui.main-menu .ui.dropdown.item:hover .menu {
    visibility: visible;
    transition-delay: 0s;
  }
}