footer
    div.ui.container.grid
        div.column
            nav.ui.text.menu
                div
                    a(href="#").item  Medicīnas iekārtas
                        each title, href in {"#2":'Medicīnas preces', "#3":"Industriālie un drošības risinājumi", "#4": "Projektēšana", "#5": "Serviss", "#6": "Piegāde", "#7": "Atgriešana un apmaiņa", "#8": "Privātuma politika", "#9": "Par mums", "contact-us.html":"Kontakti"}
                            a(class="item" href=href)=  title
            div.sub-column
                div.footer-contacts
                    div.title Kontakti
                    div.item
                        i.c-icon.icon-place-icon
                        | Adrese: Varkaļu iela 13A, RĪga, Latvija, LV-1067
                    div.item
                        i.c-icon.icon-phone-icon
                        | Tālrunis: #[a(href="tel:66103002") 66103002, ] #[a(href="tel:20277153") 20277153 ]
                    div.item
                        i.c-icon.icon-mail-icon
                        | E-pasts: #[a(href="mailto:info@amedical.eu") info@amedical.eu]
                div.follow-us
                    div.title Seko mums
                    div.soc-menu
                        a(href="#").item
                            i.soc-icon.icon-facebook-icon
                            | Facebook
                        a(href="#").item
                            i.soc-icon.icon-linkedin-icon
                            | LinkedIn

    div.copyright Visas tiesības aizsargātas &copy 2016 A.MEDICAL