header
    div.ui.container.relaxed.grid
        div.ui.two.wide.column
            a(href="index.html").logo
                img(src="img/logo.png")
        div.ui.fourteen.wide.column
            div.ui.text.menu
                div.left.menu
                    div.item
                        div.ui.icon.input.search
                            input(placeholder="Meklēt")
                            i.search.icon
                    a(href="content.html").item Jaunumi
                    a(href="#").item Blogs
                    a(href="#").item Biežāk uzdotie jautājumi
                    a(href="about-us.html").item Par mums
                    a(href="contact-us.html").item Kontakti
                div.right.menu.lang
                    a(href="#").item.active LV
                    a(href="#").item EN
                    a(href="#").item RU
                div.right.menu.auth
                    a(href="#")
                        span.ui.basic.small.button Autorizācija

            nav.ui.secondary.menu
                a(href="index.html").item
                    i.icon-home-icon
                a(href="content.html").item Medicīnas iekārtas
                div.ui.simple.dropdown.item Medicīnas preces
                    div.menu
                        a(href="#").item Medicīnas preces
                        a(href="#").item Instrumenti un aprīkojums
                a(href="#").item Apģērbi un aizsarglīdzekļi
                a(href="projects.html").item Projektēšana
                a(href="services.html").item Iekārtu serviss
                div.right.menu.auth
                    a(href="#")
                        i.icon-basket-icon
                        span Grozs