header
  .ui.container.grid.mobile.only
    .two.column.row
      .left.aligned.column
        a.logo(href='index.html')
          img(src='img/logo.png', alt='amedical', title='Amedical logo')
      .right.aligned.column
        a.mob-toogle-menu(href='#')
          i.icon-mob-toogle-open
        a.mob-search(href='#')
          i.search.icon
    .one.column.row.search-row(style='display:none')
      .column
        form#mobile-search.ui.large.form
          .field
            input(placeholder='Meklēt...')
            i.search.icon
  .ui.container.grid.tablet.only
    .two.column.row
      .left.aligned.column
        a.logo(href='index.html')
          img(src='img/logo.png', alt='amedical', title='Amedical logo')
      .right.aligned.column
        .item.computer-search
          form#tablet-search.ui.icon.input.search
            input(placeholder='Meklēt')
            i.search.icon
        a.mob-toogle-menu(href='#')
          i.icon-mob-toogle-open
  .ui.container.desktop
    .main-logo
      a(href='index.html')
        img(src='img/logo.png', alt='amedical', title='Amedical logo')
    // removed .fluid class  below
    .ui.container.main-column
      .mob-menu(style='display:none')
        .ui.computer.vertically.reversed.grid
          .ui.text.menu.lang
            a.item.active(href='#') LV
            a.item(href='#') EN
            a.item(href='#') RU
            .right.menu
              a.ui.basic.small.button(href='#') Autorizācija
          .row
            nav.ui.secondary.stackable.menu.main-menu
              a.item.home(href='index.html')
                span Galvenā
                i.icon-home-icon
              .ui.dropdown.item
                | Medicīnas iekārtas
                .menu
                  a.item(href='#') Medicīnas preces
                  a.item(href='#') Instrumenti un aprīkojums
              .ui.dropdown.item
                | Medicīnas preces
                .menu
                  a.item(href='#') Medicīnas preces
                  a.item(href='#') Instrumenti un aprīkojums
              a.item(href='#') Apģērbi un aizsarglīdzekļi
              a.item(href='projects.html') Projektēšana
              a.item(href='services.html') Iekārtu serviss
              .right.menu.basket
                a.item(href='#')
                  i.icon-basket-icon
                  span
                    | Grozs
                    // <b>22</b>
          .row
            .ui.secondary.text.stackable.menu.top-menu
              .item.computer-search
                form#desktop-search.ui.icon.input.search
                  input(placeholder='Meklēt')
                  i.search.icon
              a.item(href='content.html') Jaunumi
              a.item(href='#') Blogs
              a.item(href='#') Biežāk uzdotie jautājumi
              a.item(href='about-us.html') Par mums
              a.item(href='contact-us.html') Kontakti
