<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amedical\Theme\Block\Customer\Widget\GroupSwitcher">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="groupSwitcherData" xsi:type="object">Amedical\Theme\Block\Customer\Widget\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="amedical_theme-topmenu" type="Amedical\Theme\Plugin\Block\Topmenu" />
    </type>
    <type name="Magento\Catalog\Helper\Output">
        <plugin name="amedical_theme-weight-output" type="Amedical\Theme\Plugin\Catalog\Helper\Output" />
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="amedical_theme-add-base-url" type="Amedical\Theme\Plugin\Checkout\DefaultConfigProvider" />
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="amedical_theme-billing-address-add_fields" type="Amedical\Theme\Plugin\Checkout\LayoutProcessor" />
    </type>
    <type name="Magento\Sales\Model\Order\CustomerManagement">
        <plugin name="amedical_theme-order-create-account" type="Amedical\Theme\Plugin\Checkout\CreateAccount" />
    </type>
</config>