<div id="group-switcher" class="group-switcher" data-block="group-switcher" >
    <input type="hidden" id="customer-group" name="customer_group" data-bind="value: group()">
    <span class="group active" data-bind="attr:{'group': '4'}, click: switchGroup"><i class="radio"></i><span data-bind="i18n: 'Legal person'" ></span></span>
    <span class="group" data-bind="attr:{'group': '1'}, click: switchGroup"><i class="radio"></i><span data-bind="i18n: 'Private person'" ></span></span>
    <div class="field company">
        <label for="company" class="label"><span data-bind="i18n: 'Company'"  data-role="title" ></span></label>
        <div class="control">
            <input type="text" name="company" id="company" data-bind="event: {change: companyHasChanged}" value="" class="input-text">
        </div>
    </div>
    <div class="field position-occupation">
        <label for="position-occupation" class="label"><span data-bind="i18n: 'Position Occupation'"  data-role="title" ></span></label>
        <div class="control">
            <input type="text" name="position_occupation" id="position-occupation" data-bind="event: {change: positionOccupationHasChanged}" value="" class="input-text">
        </div>
    </div>
</div>